.footer {
  margin: 67px 762px 60px 200px;
  color: #545454;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  width: 318px;
  height: 18px;
}

@media screen and (max-width: 680px) {
  .footer {
    width: 282px;
    height: 14px;
    margin: 48px 19px 36px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
