.header {
  height: 74px;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
  margin: 0;
}

.header__image {
  width: 173px;
  height: 33px;
  margin-bottom: 74px;
}

@media screen and (max-width: 620px) {
  .header__image {
    width: 126px;
    height: 24px;
    margin-top: 28px;
    margin-left: 27px;
  }
}
