.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Inter, Arial, Helvetica, sans-serif;
  padding: 0 19px;
}

.modal_opened {
  display: flex;
}

.modal__heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: black;
  margin: 0 0 54px 0;
}

.modal__container {
  box-sizing: border-box;
  position: relative;
  padding: 36px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0 0 0 /0.15);
  max-width: 430px;
  width: 100%;
  padding: 34px 36px;
}

.modal__button {
  background-color: black;
  width: 358px;
  height: 50.15px;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  display: block;
  width: 100%;
  cursor: pointer;
  border: none;
}

.modal__button:hover {
  opacity: 0.8;
  transition: 0.5s ease;
}

.modal__close {
  border: none;
  background-color: transparent;
  position: absolute;
  background-image: url(../images/Close\ Icon.svg);
  height: 40px;
  width: 40px;
  top: -45px;
  right: -45px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
  transition: 0.5s ease;
}

.modal__inputs {
  box-sizing: border-box;
  margin-bottom: 29.74px;
  border: none;
  border-bottom: 1px solid rgb(0 0 0 / 0.2);
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  padding-bottom: 13px;
}

.modal__inputs::placeholder {
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

@media screen and (max-width: 568px) {
  .modal__container {
    max-width: 282px;
    padding: 25px 22px;
  }

  .modal__heading {
    line-height: 18px;
    margin-bottom: 75px;
    font-size: 22px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    left: calc(100% - 35px);
    bottom: calc(100% + 14px);
  }

  .modal__button {
    font-size: 14px;
    line-height: 17px;
    height: 18px;
  }

  .modal__name {
    font-size: 100px;
  }
}
