.footer {
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  flex-shrink: 0;
  padding: 35px 0 60px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 621px) {
  .footer {
    padding: 12px 0px 36px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin-left: 19px;
  }
}
