.header {
  width: 100%;
  min-height: 120px;
  margin: 45px 0 40px;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
  display: flex;
  align-items: center;
}

.header__image {
  width: 173px;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 620px) {
  .header {
    min-height: 85px;
    width: 100%;
    margin: 28px 0 32px;
  }

  .header__image {
    width: 126px;
    height: auto;
    margin: 0;
  }
}
