.header {
  min-height: 120px;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
  margin-bottom: 40px;
  margin-top: 45px;
  margin-left: 200px;
  display: flex;
  align-items: center;
}

.header__image {
  width: 173px;
  height: 33px;
  object-fit: contain;
}

@media screen and (max-width: 620px) {
  .header {
    min-height: 85px;
    margin-left: 0;
  }
  .header__image {
    width: 126px;
    height: 24px;
    margin: 0 0 0 27px;
  }
}
